# Database — Supabase connection string
DATABASE_URL=postgresql+asyncpg://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres

# JWT
SECRET_KEY=your-super-secret-key [Use generate https://jwtsecretkeygenerator.com/]
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# App
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
